/*Styling via tutorial from: https://letsbuildui.dev/articles/building-a-dropdown-menu-component-with-react-hooks */

.AboutButton {
  background: black;
  color: white;
  border-radius: 90px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  border: none;
  vertical-align: middle;
  font-size: 18px;
  font-weight: 700;
  margin: 0 10px;
}
.AboutButton:hover {
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}

.AboutButton span {
  font-weight: 700;
  vertical-align: middle;
  font-size: 18px;
  margin: 0 10px;
}

.abmenu {
  background: #ffffff;
  border-radius: 8px;
  position: absolute;
  top: 100px;
  right: 5px;
  width: 300px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-0px);
  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
}

.abmenu.active {
  opacity: 1;
  visibility: visible;
  transform: translateX(-100px);
  transform: translateY(40px);
}
.abmenu h2 {
  color: #333333;
  text-align: center;
}
.abmenu p {
  color: #333333;
  padding: 15px 20px;
  display: block;
  text-align: center;
}
